.patient-form {
  display: block;
  max-width: 100%;
  margin: 50px 20px;
  > div {
    display: flex;
  }
}

.top-container {
  justify-content: space-between;
  align-items: flex-end;
}

.bottom-container {
  justify-content: flex-end;
}