.add-diagnose-form {
  display: block;
  max-width: 100%;
  margin: 50px 20px;
  h2 {
    margin-bottom: 20px;
    font-size: 21px;
    font-family: Roboto,Helvetica Neue,sans-serif;
    color: rgba(0,0,0,.54);
  }
  > div {
    display: flex;
  }
}

.top-container {
  justify-content: space-between;
  align-items: flex-end;
}

.bottom-container {
  justify-content: flex-end;
}

.example-sidenav-fab-container {
  width: 100%;
  height: calc(100vh - 74px);
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}