<nav md-tab-nav-bar>
    <a md-tab-link id="index"
       routerLinkActive="active"
       [routerLink]=" ['./patient-info'] ">
        Patient info
    </a>
    <a md-tab-link
       routerLinkActive="active"
       [routerLink]=" ['./clinical-info'] ">
        Clinical info
    </a>
    <a md-tab-link
       routerLinkActive="active"
       [routerLink]=" ['./about'] "
       [routerLinkActiveOptions]="{exact: true}">
        About
    </a>
</nav>


<main>
    <router-outlet></router-outlet>
</main>


<md-footer></md-footer>
