<nav md-tab-nav-bar>
    <a md-tab-link id="index"
       routerLinkActive="active"
       [routerLink]=" ['./patient-info'] ">
        Patient info
    </a>
    <a md-tab-link
       routerLinkActive="active"
       [routerLink]=" ['./clinical-info'] ">
        Clinical info
    </a>
    <a md-tab-link
       routerLinkActive="active"
       [routerLink]=" ['./about'] "
       [routerLinkActiveOptions]="{exact: true}">
        About
    </a>
</nav>

<button (click)="increment()">increment</button>
<button (click)="decrement()">decrement</button>

<main>
    <router-outlet></router-outlet>
</main>

<pre>{{count$ | async}}</pre>

<md-footer></md-footer>
